<section data-ng-controller="BallsController" data-ng-init="findOne()" class="container ballContent">
	<div class="page-header">
		<h1>{{ball.brand}} - {{ball.name}}</h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" data-ng-href="#!/balls">
			<i class="glyphicon glyphicon-th"></i>&nbsp;Back to list
		</a>
		<a class="btn btn-primary" ng-if="previousBallId != null" data-ng-href="#!/balls/{{previousBallId}}">
			<i class="glyphicon glyphicon-backward"></i>&nbsp;Previous
		</a>
		<a class="btn btn-primary" ng-if="nextBallId != null" data-ng-href="#!/balls/{{nextBallId}}">
			Next <i class="glyphicon glyphicon-forward"></i>
		</a>
	</div>
	<div class="media">
		<div class="media-left col-sm-4">
			<img src="/modules/balls/img/{{ball.images.large}}" alt="{{ball.name}}" style="width: 400px; height: 400px;">
			<div class="form-group">
				<div>
					<p class="form-control-static" ng-if="!getEditFlag('description')" ng-click="toggleEdit('description')"  ng-bind-html="ball.description"></p>
					<label for="description" class="col-sm-4 control-label" ng-if="!getEditFlag('description') && ball.description == null" ng-click="toggleEdit('description')">Enter description</label>
					<textarea class="form-control" rows="3" id="description" placeholder="Description" ng-if="getEditFlag('description') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.description"></textarea>
				</div>
			</div>
		</div>
		<div class="media-body col-sm-8">
			<form class="form-horizontal" data-ng-submit="udpdateBallInView()" role="form">
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<label for="brand" class="col-sm-4 control-label" ng-click="toggleEdit('brand')">Brand: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('brand')" ng-click="toggleEdit('brand')">{{ball.brand}}</p>
						<input type="text" class="form-control" id="brand" placeholder="Brand" ng-if="getEditFlag('brand') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.brand">
					</div>
				</div>
				<div class="form-group" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<label for="name" class="col-sm-4 control-label" ng-click="toggleEdit('name')">Name: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('name')" ng-click="toggleEdit('name')">{{ball.name}}</p>
						<input type="text" class="form-control" id="name" placeholder="Brand" ng-if="getEditFlag('name')" data-ng-model="ball.name">
					</div>
				</div>
				<div class="form-group" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<label for="fullname" class="col-sm-4 control-label" ng-click="toggleEdit('fullname')">Fullname: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('fullname')" ng-click="toggleEdit('fullname')">{{ball.fullname}}</p>
						<input type="text" class="form-control" id="fullname" placeholder="Fullnmae" ng-if="getEditFlag('fullname')" data-ng-model="ball.fullname">
					</div>
				</div>
				<div class="form-group">
					<label for="color" class="col-sm-4 control-label" ng-click="toggleEdit('color')">Color: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('color')" ng-click="toggleEdit('color')">{{ball.color}}</p>
						<select class="form-control" id="color" ng-if="getEditFlag('color') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.color">
							<option value="White">White</option>
							<option value="Yellow">Yellow</option>
							<option value="Pink">Pink</option>
							<option value="Orange">Orange</option>
							<option value="Green">Green</option>
							<option value="Mixed">Mixed</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="pieces" class="col-sm-4 control-label" ng-click="toggleEdit('pieces')">Pieces: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('pieces')" ng-click="toggleEdit('pieces')">{{ball.pieces}}</p>
						<input type="text" class="form-control" id="pieces" placeholder="Pieces" ng-if="getEditFlag('pieces') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.pieces">
					</div>
				</div>
				<div class="form-group">
					<label for="enveloppe" class="col-sm-4 control-label" ng-click="toggleEdit('enveloppe')">Enveloppe: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('enveloppe')" ng-click="toggleEdit('enveloppe')">{{ball.enveloppe}}</p>
						<input type="text" class="form-control" id="enveloppe" placeholder="Enveloppe" ng-if="getEditFlag('enveloppe') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.enveloppe">
					</div>
				</div>
				<div class="form-group">
					<label for="speed" class="col-sm-4 control-label" ng-click="toggleEdit('speed')">Swing speed: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('speed') && ball.minSpeed > 0 && ball.maxSpeed < 999" ng-click="toggleEdit('speed')">Between {{ball.minSpeed}} and {{ball.maxSpeed}}</p>
						<p class="form-control-static" ng-if="!getEditFlag('speed') && ball.minSpeed > 0" ng-click="toggleEdit('speed')">Above {{ball.minSpeed}}</p>
						<p class="form-control-static" ng-if="!getEditFlag('speed') && ball.maxSpeed < 999" ng-click="toggleEdit('speed')">Below {{ball.maxSpeed}}</p>
						<p class="form-control-static" ng-if="!getEditFlag('speed') && ball.minSpeed == 0 && ball.maxSpeed == 999" ng-click="toggleEdit('speed')">-</p>
						<input type="text" class="form-control" id="minSpeed" placeholder="Min Speed" ng-if="getEditFlag('speed') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.minSpeed">
						<input type="text" class="form-control" id="maxSpeed" placeholder="Max Speed" ng-if="getEditFlag('speed') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.maxSpeed">
					</div>
				</div>
				<div class="form-group">
					<label for="compressionValue" class="col-sm-4 control-label" ng-click="toggleEdit('compression')">Compression: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('compression')" ng-click="toggleEdit('compression')">{{ball.compression.class}}</p>
						<input type="text" class="form-control" id="compressionValue" placeholder="Compression" ng-if="getEditFlag('compression') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.compression.value">
						<select class="form-control" id="compressionClass" ng-if="getEditFlag('compression') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.compression.class">
							<option value="Low">Low</option>
							<option value="Mid">Mid</option>
							<option value="High">High</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="handicap" class="col-sm-4 control-label">Handicap: </label>
					<div class="col-sm-8">
						<span ng-repeat="hcp in ['high', 'mid', 'low']" >
	              <input class="form-control-static" type="checkbox" id="handicap" placeholder="Handicap" ng-disabled="authentication.user == null || authentication.user.roles.indexOf('admin') < 0" ng-checked="ball.handicap.indexOf(hcp) >= 0" ng-init="handicaps[$parent.$index][hcp] = (ball.handicap.indexOf(hcp) >= 0)" data-ng-model="handicaps[$parent.$index][hcp]">
								<label class="form-control-static" for="handicap">{{hcp}}</label>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="women" class="col-sm-4 control-label" ng-click="toggleEdit('women')">Women ball: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('women')" ng-click="toggleEdit('women')">{{ball.women}}</p>
						<select class="form-control" id="women" ng-if="getEditFlag('women') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.women">
							<option ng-selected="ball.women" value="true">True</option>
							<option ng-selected="!ball.women" value="false">False</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="recycled" class="col-sm-4 control-label" ng-click="toggleEdit('recycled')">Recycled: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('recycled')" ng-click="toggleEdit('recycled')">{{ball.recycled}}</p>
						<select class="form-control" id="recycled" ng-if="getEditFlag('recycled') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.recycled">
							<option ng-selected="ball.recycled" value="true">True</option>
							<option ng-selected="!ball.recycled" value="false">False</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="highNumber" class="col-sm-4 control-label" ng-click="toggleEdit('highNumber')">High Number: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('highNumber')" ng-click="toggleEdit('highNumber')">{{ball.highNumber}}</p>
						<select class="form-control" id="highNumber" ng-if="getEditFlag('highNumber') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.highNumber">
							<option ng-selected="ball.highNumber" value="true">True</option>
							<option ng-selected="!ball.highNumber" value="false">False</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="customizable" class="col-sm-4 control-label" ng-click="toggleEdit('customizable')">Customizable: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('customizable')" ng-click="toggleEdit('customizable')">{{ball.customizable}}</p>
						<select class="form-control" id="customizable" ng-if="getEditFlag('customizable') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.customizable">
							<option ng-selected="ball.customizable" value="true">True</option>
							<option ng-selected="!ball.customizable" value="false">False</option>
						</select>
					</div>
				</div>
				<div class="form-group" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<label for="published" class="col-sm-4 control-label" ng-click="toggleEdit('published')">Published: </label>
					<div class="col-sm-8">
						<p class="form-control-static" ng-if="!getEditFlag('published')" ng-click="toggleEdit('published')">{{ball.published}}</p>
						<select class="form-control" id="published" ng-if="getEditFlag('published') && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0" data-ng-model="ball.published">
							<option ng-selected="ball.published" value="true">True</option>
							<option ng-selected="!ball.published" value="false">False</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="minPrice" class="col-sm-4 control-label">Minimum price: </label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ball.price.min}}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="avgPrice" class="col-sm-4 control-label">Average price: </label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ball.price.avg}}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="maxPrice" class="col-sm-4 control-label">Maximum price: </label>
					<div class="col-sm-8">
						<p class="form-control-static">{{ball.price.max}}</p>
					</div>
				</div>
				<div class="form-group" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<label for="description" class="col-sm-4 control-label">URLs: </label>
					<div class="col-sm-8">
						<p class="form-control-static" data-ng-repeat="benchmark in ball.benchmarks"><a href="{{benchmark.url}}">{{benchmark.source}}</a></p>
					</div>
				</div>
				<div class="form-group" ng-if="editFlagsOn() && authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Update</button>
						<button type="reset" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
					</div>
				</div>


			</form>
		</div>
	</div>
	<div class="image-picker" ng-if="authentication.user != null && authentication.user.roles.indexOf('admin') >= 0">
		<h4>Small images selection</h4>
		<div data-ng-repeat="smallImage in ball.allImages.small" >
			<input type="radio" value="{{smallImage}}" ng-model="ball.images.small"  ng-click="changeImage(smallImage, 'small')"/><img src="/modules/balls/img/{{smallImage}}" alt="{{smallImage}}">
		</div>
		<h4>Large images selection</h4>
		<div data-ng-repeat="largeImage in ball.allImages.large" >
			<input type="radio" value="{{largeImage}}" ng-model="ball.images.large" ng-click="changeImage(largeImage, 'large')"/><img src="/modules/balls/img/{{largeImage}}" alt="{{largeImage}}" style="width: 400px; height: 400px;">
		</div>
	</div>


</section>
